<div class="container">
    <div class="row">
        <div class="md-12">
            <div class="alert alert-success">Lazy worked</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tooltip-example">
                <div tooltip="tootip on left" placement="left">tootip on left</div>
                <div tooltip="tootip on top" placement="top">tootip on top</div>
                <div tooltip="tootip on bottom" placement="bottom">tootip on bottom</div>
                <div tooltip="tootip on right" placement="right">tootip on right</div>
              </div>
        </div>
    </div>
</div>