  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="form-group">
            <label for="Search-text">Search Text</label>
            <input type="text" class="form-control" [(ngModel)]="searchText" autofocus>
          </div>
        </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 w1">
          <table>
            <tr>
            <th>ID</th>
            <th>EMAIL </th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>AVATAR</th>
          </tr>
          <tr *ngFor="let user of UserList | filter:searchText" [class.selected]>
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td (click)="NameDesc(user)">{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td><a><img [src]="user.avatar"></a></td>
          </tr>
          </table>
          <button (click)="CreateUser()">Post Data</button>
        </div>
        <div class="col-md-6 w2" *ngIf="useractive">
          <app-user-list-details [selectedUser]="selectedUser" (newItemEvent)="update($event)" ></app-user-list-details>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>