<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  displays site properly based on user's device

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Intro component with sign up form</title>
</head>
<body>
    <div class="parent">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="heading h1">Learn to code by watching others</p>
                    <p class="desc">  See how experienced developers solve problems in real-time. Watching scripted tutorials is great, 
                        but understanding how developers think is invaluable. </p>
                    <p class="h6" style="color:rgb(18, 18, 201)">Not a Member?   <button class="btn btn-secondary" routerLink="/signup"><a>SignUp</a></button></p>
                </div>
                <div class="col-md-6">
                    <div class="free">
                        <p><strong>Try it free 7 days</strong> then $20/mo. thereafter</p>  
                    </div>
                <div class="changebg">
                    <form>
                        <div class="form-group">
                          <input type="email" class="form-control input11" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control input11" id="exampleInputPassword1" placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-primary" style="width:100%; margin-top:20px;">Submit</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>